.header__address {
    width: 100%;
    max-width: 347px;
    position: relative;
    z-index: 1020;

    &_social {
        background: url('../../images/adresBG.png') no-repeat center;
        background-size: cover;
        width: 100%;
        min-height: 190px;
        border-radius: 15px;
        padding: 17px 21px 27px;
        margin-bottom: 17px;

        @media (max-width: 768px) {
            min-height: 183px;
            padding: 20px 14px 25px;
        }
        &_title {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 16px;
            color: #4FEC00;

            @media (max-width: 768px) {
                margin-bottom: 25px;
                font-size: 12px;
            }
        }

        &_list {
            display: grid;
            gap: 26px;

            @media (max-width: 768px) {
                gap: 21px;
            }
            &_link {
                display: flex;
                align-items: center;
                gap: 18px;

                @media (max-width: 768px) {
                    gap: 6px;
                }
                &_icon {
                    width: 20px;
                    height: 20px;
                    display: block;

                    &.hover {
                        display: none;
                    }
                }

                &_txt {
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    transition: .2s;
                }

                &:hover &_txt {
                    transition: .2s;
                    color: #4FEC00;
                }
                &:hover &_icon {
                    display: none;

                    &.hover {
                        display: block;
                    }
                }
            }
        }
    }

    &_list {
        display: grid;
        gap: 10px;

        @media (max-width: 768px) {
            display: none;   
        }
        &_link {
            font-weight: 500;
            font-size: 25px;
            color: #008900;
            text-align: right;
            transition: .2s;

            &:hover {
                transition: .2s;
                color: #032022;
            }
        }
    }
}