.topAds {
    display: flex;
    justify-content: space-between;
    max-height: 1px;
    width: 100%;
    max-width: 1630px;
    min-width: 1630px;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 164px;
    z-index: 1100;

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        width: 100%;
        max-width: 234px;

        &.left {
            left: 146px;
        }

        &.right {
            right: 146px;
        }

        .col2 {
            grid-column: 1 / 3;
        }
    }
}