.header__filter {

    &_container {
        border-radius: 5px;
        background: #032022;
        padding: 30px 58px 15px;
        margin-bottom: 11px;

        @media (max-width: 768px) {
            padding: 13px 11px;
            margin-bottom: 5px;
        }

        * {
            color: #fff;
        }
    }

    &_acc {
        @media (max-width: 768px) {
            max-height: 0;
            transition: .3s;
            overflow: hidden;
        }
    }

    &_mobBtn {
        display: none;

        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            background: #F2F2F2;
            border-radius: 50px;
            padding: 8px 22px;
            gap: 9px;
            transition: .2s;
            margin-bottom: 15px;
            justify-content: center;
            border: 1px solid #032022;

            &.full {
                width: 100%;
            }

            &_txt {
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                color: #032022;
                transition: .2s;
            }

            &_icon {
                width: 11px;
                height: 11px;
                transition: .2s;
            }

            &:hover &_txt {
                color: #fff;
                transition: .2s;
            }

            &:hover {
                background: #032022;
                transition: .2s;
            }

            &:hover &_icon {
                filter: invert(1);
                transition: .2s;
            }
        }
    }

    &_header {
        display: none;

        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            &_btn {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 9px 50px;
                width: fit-content;
                border: 1px solid #008900;
                border-radius: 100px;

                &_txt {
                    font-weight: 400;
                    font-size: 12px;
                    text-align: center;
                    color: #032022;
                }

                &_icon {
                    width: 14px;
                    height: 9px;
                    object-fit: contain;
                }
            }
        }
    }

    &_item {
        display: flex;

        @media (max-width: 768px) {
            min-width: 127px;
        }

        &.double {
            @media (max-width: 768px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 13px;
            }
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;

        @media (max-width: 768px) {
            gap: 13px;
        }
    }

    &_choose {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F2F2F7A6;
        position: relative;
        border-radius: 65px;

        @media (max-width: 768px) {
            margin: 0 auto 15px;
        }

        &::before {
            content: '';
            display: block;
            width: 122px;
            height: 41px;
            position: absolute;
            background: #fff;
            z-index: 1010;
            border-radius: 100px;
            transition: .3s;
            left: -15px;
        }

        &.active {

            &::before {
                left: 85px;
                width: 160px;
                transition: .3s;
            }
        }

        &_lab {
            cursor: pointer;
            padding: 8px 26px;
            position: relative;
            z-index: 1020;

            &_inp {
                display: none;
            }

            &_txt {
                color: #000;
                font-weight: 500;
                font-size: 14px;
                transition: .2s;
            }
        }
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 31px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 13px;
        }
    }

    &_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 25px;
        }

        &_wrapper {
            display: flex;
            align-items: center;
            gap: 25px;

            @media (max-width: 768px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 17px 13px;
            }
        }

        &_vinlab {
            display: block;
            min-width: 270px;

            &_inp {
                width: 100%;
                border: 1px solid #FFFFFF80;
                background: #fff;
                padding: 13px;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.2;
                color: #03202280;
                border-radius: 5px;
            }
        }

        &_lab {
            cursor: pointer;

            span {
                color: #fff;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.2;
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 14px;
                    min-width: 14px;
                    min-height: 14px;
                    height: 14px;
                    max-width: 14px;
                    max-height: 14px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    transition: .2s;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    border: 1px solid #008900;
                    border-radius: 50%;
                    background: #526270;
                    width: 6px;
                    min-width: 6px;
                    height: 6px;
                    min-height: 6px;
                    max-width: 6px;
                    max-height: 6px;
                    opacity: 0;
                    transition: .2s;
                    top: 4px;
                    left: 4px;
                }
            }

            input {
                display: none;

                &:checked+span::after {
                    transition: .2s;
                    opacity: 1;
                }

                &:checked+span::before {
                    transition: .2s;
                    border-color: #526270;
                }
            }
        }

        &_submit {
            background: #008900;
            width: 100%;
            max-width: 182px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.2;
            padding: 9px;
            border-radius: 7px;
            transition: .2s;

            @media (max-width: 768px) {
                max-width: 100%;
            }

            span {
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                line-height: 1.2;
            }

            &:hover {
                background: #00c700;
            }
        }
    }
}


.select {
    position: relative;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5019607843);
    min-width: 240px;
    max-width: 240px;
}

@media (max-width: 768px) {
    min-width: 127px;
    max-width: 127px;
}

&__btn {
    transition: .2s;
    display: flex;
    align-items: center;
    padding: 12px 14px 12px 24px;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    background: #032022;
    border-radius: 5px;
    position: relative;
    z-index: 1081;

    @media (max-width: 768px) {
        padding: 13px 10px 13px 18px;
    }

    &_txt {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        color: #FFFFFF80;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &:hover {
        transition: .2s;
        background: #063539;
    }

    &.active {
        transition: .2s;
        border-radius: 5px 5px 0 0;
    }
}

&__search {
    width: 100%;
    padding: 0px 8px;
    margin-top: 8px;

    &_inp {
        border-radius: 3px;
        width: 100%;
        background: #D9D9D933;
        padding: 5px 12px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        color: #FFFFFF;

        &::placeholder {
            color: #FFFFFF;
        }
    }
}

&__list {
    position: relative;
    padding: 6px 0 11px;

    &:not(:last-child)::after {
        content: '';
        display: block;
        width: calc(100% - 16px);
        margin: 0 auto;
        left: 0;
        right: 0;
        height: 1px;
        background: #819091;
        position: absolute;
        bottom: 0;
    }

    &_btn {
        padding: 5px 24px;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        width: 100%;
        transition: .2s;

        &:hover {
            transition: .2s;
            background: #4FEC0080;
        }
    }
}

&__wrapper {
    max-height: 190px;
    overflow-y: scroll;
    background: #032022;
    border-radius: 0 0 5px 5px;
    width: 100%;

    &::-webkit-scrollbar {
        background: #032022;
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #008900;
        width: 4px;
    }
}

&__content {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    left: -0.5px;
    position: absolute;
    top: 30px;
    max-height: 0px;
    transition: .3s;
    min-width: 150px;
    overflow: hidden;
    border: 1px solid #819091;
    border-top: none;
    opacity: 0;
    z-index: 1070;

    @media (max-width: 768px) {
        min-width: 127px;
    }

    &.active {
        transition: .2s;
        opacity: 1;
        z-index: 1090;
    }
}
}

.double .select {
    max-width: 160px;

    @media (max-width: 768px) {
        max-width: 127px;
    }

    &:first-child {
        border-radius: 5px 0 0 5px;

        @media (max-width: 768px) {
            border-radius: 5px;
        }
    }

    &:last-child {
        border-radius: 0 5px 5px 0;

        @media (max-width: 768px) {
            border-radius: 5px;
        }
    }
}