* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
}

button,
textarea,
select {
    background: none;
    border: none;
    outline: none;
    display: block;
    resize: none;
    appearance: none;
}

input {
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}


.seeMore {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #00000080;
    border-radius: 27px;
    padding: 9px 26px;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #00000080;
    transition: .2s;

    &:hover {
        background: #032022;
        transition: .2s;
        color: #fff;
    }

    @media (max-width: 768px) {
        font-size: 10px;
        padding: 7px 14px;
    }
}


.mobileads {
    display: none;

    @media (max-width: 768px) {
        display: block;
        padding: 20px 15px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;

            &_title {
                font-weight: 600;
                font-size: 9px;
                line-height: 100%;
            }

            &_seeAll {
                font-weight: 400;
                font-size: 11px;
                line-height: 100%;
                color: #008900;
            }
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 7px;
        }

        &__img {
            width: 143px;
            height: 169px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}


.topAds {
    margin-top: 40px !important;
    top: 124px !important;
    
    &__header {
        * {
            font-size: 18px !important;
        }
    }
    @media (max-width: 1296px) {
        z-index: 1020 !important;
    }

    @media (max-width: 768px) {
        display: none !important;
    }
}

.ads2__img {
    img {
        width: 100%;
    }
}


.fixedBtns {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1190;

    @media (max-width: 768px) {
        right: 16px;
        bottom: 16px;
    }
    &__btn {
        width: 67px;
        height: 67px;
        border-radius: 50%;
        margin-top: 20px;

        @media (max-width: 768px) {
            width: 36px;
            height: 36px;
            margin-top: 11px;
        }
        &.invisible {
            position: relative;
            transition: .2s;
            right: -150px;
        }

        &.is-visible {
            right: 0px !important;
            transition: .2s;
        }

        &:hover {
            transition: .2s;
            box-shadow: 0px 0px 17.6px 0px #CCFF005C;
        }

        &_icon {
            width: 100%;
            height: 100%;
        }
    }
}