.reading {
    width: 100%;
    max-width: 350px;
    background: #D9D9D966;
    padding: 12px 19px 42px;

    @media (max-width: 768px) {
        padding: 55px 0px 18px 13px;
        position: relative;
        min-width: 305px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;

        @media (max-width: 768px) {
            position: absolute;
            top: 18px;
            left: 13px;
        }
    }

    &__wrapper {
        @media (max-width: 768px) {
            display: flex;
            max-width: 287px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding: 9px 0 13px;
        border-bottom: 1px solid #CCCCCC80;

        @media (max-width: 768px) {
            padding: 0;
            padding-right: 27px;
            min-width: 275px;
            border-bottom: none;
            gap: 10px;
        }

        &_pic {
            width: 110px;
            min-width: 110px;
            height: 77px;
            object-fit: cover;
            border-radius: 5px;
        }

        &_desc {

            &_title {
                margin-bottom: 9px;
                font-weight: 600;
                font-size: 14px;
                line-height: 15px;
                color: #008900;

                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;

                @media (max-width: 768px) {
                    font-size: 11px;
                    line-height: 12px;
                    margin-bottom: 5px;
                }
            }

            &_date {
                font-weight: 600;
                font-size: 13px;
                color: #00000080;

                @media (max-width: 768px) {
                    font-size: 10px;
                }
            }
        }
    }
}