.header__submenu {
    margin: 10px 0;

    &_list {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        overflow-y: scroll;
        max-width: 1120px;

        @media (max-width: 768px) {
            min-width: 305px;
            max-width: 305px;
            padding-right: 16px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &_link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding: 0 8px;
            border-radius: 5px;
            border: 1px solid #00000026;
            height: 100%;
            transition: .2s;
            min-width: 146px;
            max-width: 146px;

            &:hover {
                transition: .2s;
                background: #032022;
            }

            &_icon {
                max-height: 42px;
                max-width: 42px;
            }

            &:hover &_icon {
                filter: invert(100%);
            }

            &_txt {
                font-weight: 500;
                font-size: 13px;
                line-height: 100%;
                text-align: center;
                color: #000;
            }

            &:hover &_txt {
                color: #fff;
            }
        }
    }
}