@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../filter';
@import '../product';
@import '../../font/styles/font.css';
@import '../submenu';


.contactUs {
    margin-top: 0px;
}

.header {
    padding-top: 204px;

    @media (max-width: 768px) {
        padding-top: 133px;
    }

    &__wrapper {
        display: flex;
        gap: 7px;
        margin: 0 auto;
        width: 100%;
        max-width: 1660px;
        position: relative;
    }

    &__newDesc {
        width: 100%;
        max-width: 690px;
        padding: 8px 15px 12px;
        background: #F2F2F7;
        border-radius: 10px;
        height: 138px;

        @media (max-width: 768px) {
            padding: 18px 0;
        }

        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;

            @media (max-width: 768px) {
                padding: 0 13px;   
                }
            &_title {
                font-weight: 700;
                font-size: 14px;
            }

            &_link {
                font-size: 11px;
                font-weight: 400;
                color: #008900;
            }
        }

        &_slider {
            margin: 0 50px;

            @media (max-width: 768px) {
                min-width: fit-content;
                margin: 0;
                padding: 0 13px;

                .swiper-wrapper {
                    display: flex;
                    gap: 18px;
                }

                .swiper-slide {
                    max-width: fit-content;
                }
            }

            &_btn {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background: #98989840;
                transition: .2s;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 768px) {
                    display: none;
                }

                &:hover {
                    transition: .2s;
                    background: #008900;
                }

                &_icon {
                    height: 9px;
                    object-fit: contain;
                }

                &.prev {
                    left: 0px;
                }

                &.next {
                    right: 0px;
                }
            }
        }

        &_content {
            position: relative;

            @media (max-width: 768px) {
                overflow-x: scroll;
            }
        }

        &_el {
            display: flex;
            align-items: center;
            gap: 12px;

            @media (max-width: 768px) {
                gap: 10px;
            }

            &_desc {
                display: flex;
                flex-direction: column;
                max-width: 150px;

                @media (max-width: 768px) {
                    max-width: 130px;
                }

                &_title {
                    font-weight: 600;
                    font-size: 12.69px;
                    color: #008900;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    /* кол-во строк */
                    overflow: hidden;

                    @media (max-width: 768px) {
                        font-size: 11px;
                    }
                }

                &_pr {
                    margin-top: 5px;
                    color: #00000080;
                    font-weight: 600;
                    font-size: 11.53px;

                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }
            }

            &_img {
                width: 127px;
                max-height: 89px;
                object-fit: cover;
                border-radius: 6px;

                @media (max-width: 768px) {
                    width: 110px;
                    max-height: 77px;
                }
            }
        }
    }

    &__content {
        display: flex;
        gap: 14px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__slider {
        width: 100%;
        max-width: 414px;

        &_img {
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            height: 138px;

            @media (max-width: 768px) {
                height: 96px;
            }
        }

        .headerSwiper {
            padding-bottom: 14px;
        }

        .swiper-pagination {
            width: fit-content;
            bottom: 0px;

            &-bullet {
                background: #D9D9D9;
                opacity: 1 !important;
                width: 8px;
                height: 8px;
                margin: 0 2px !important;
                transform: scale(1) !important;

                &-active {
                    width: 10px;
                    height: 10px;
                    background: #008900;
                }
            }
        }
    }

    &__img {
        height: 159px;
        margin-top: -4px;

        @media (max-width: 768px) {
            height: 76px;
            margin: 0;
        }
    }
}



.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 33px;

    @media (max-width: 768px) {
        font-size: 13px;
        gap: 8px;
    }

    &__icon {
        width: 42px;
        height: 42px;

        @media (max-width: 768px) {
            width: 26px;
            height: 26px;
        }
    }
}

.partners {
    padding: 0 0 60px;

    @media (max-width: 768px) {
        padding-bottom: 53px;
    }

    &__content {
        margin-top: 60px;
        padding: 60px 70px;
        background: #F2F2F7;
        border-radius: 10px;

        @media (max-width: 768px) {
            padding: 20px;
            margin-top: 28px;
        }
    }

    .swiper {
        &-wrapper {
            align-items: center;
        }
    }

    &__img {
        max-width: 240px;
        margin: 0 auto;

        @media (max-width: 768px) {
            max-width: 160px;
            object-fit: contain;
        }
    }
}

.catalog {
    padding: 60px 0;

    @media (max-width: 768px) {
        padding: 22px 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 22px;
        padding: 60px 0 52px;

        @media (max-width: 768px) {
            padding: 22px 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 7px;
        }
    }

    &__seeMore {
        font-weight: 300;
        font-size: 14px;
        margin: 0 auto;
        padding: 9px 25px;
        width: fit-content;
        color: #000;
        border: 1px solid #00000080;
        border-radius: 30px;
        transition: .2s;

        &:hover {
            transition: .2s;
            background: #032022;
            color: #fff;
        }
    }
}


@media (max-width: 1296px) and (min-width: 769px) {
    #adaptive {
        display: flex;
        flex-direction: column;
    }

    .header {
        order: 1;
    }

    main {
        order: 3;
    }

    .footer {
        order: 4;
    }

    .topAds {
        order: 2;
        margin: 0 auto;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.ads2 {
    @media (max-width: 768px) {
        &.wrapper {
            padding: 0;
        }

        &__img {
            width: 100%;
        }
    }
}

.ads3 {
    img {
        width: 100%;
        height: 100%;
        height: 46px;
        object-fit: cover;
    }
}