@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../filter';
@import '../product';
@import '../recomended';
@import '../submenu';
@import '../../font/styles/font.css';

.catalogads {
    width: 100%;
    max-width: 1120px;
    margin: 66px auto 106px;

    @media (max-width: 768px) {
        margin: 10px 0;
    }
}

.header {
    margin-top: 214px;

    @media (max-width: 768px) {
        margin-top: 144px;
    }

    &__subfilter {
        margin-top: 21px;
        border-radius: 12px;
        background: #E9F1EF;
        padding: 20px 30px 20px 57px;

        @media (max-width: 768px) {
            padding: 16px;
        }

        &_wrapper {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 27px 60px;

            @media (max-width: 768px) {
                gap: 20px;
                flex-wrap: nowrap;
                flex-direction: column;
                max-height: 0;
                overflow: hidden;
                transition: .3s;
            }
        }

        &_mob {
            display: none;

            @media (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &_btn {
                    display: flex;
                    align-items: center;
                    padding: 9px 22px;
                    gap: 9px;
                    background: #fff;
                    border-radius: 32px;
                }

                &_title {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 1.2;
                }
            }
        }

        &_lab {
            display: flex;
            gap: 14px;
            align-items: center;
            cursor: pointer;

            &:first-child {
                @media (max-width: 768px) {
                    margin-top: 15px;
                }
            }
            &_check {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 11px;
                min-width: 11px;
                height: 11px;
                min-height: 11px;
                border-radius: 2px;
                border: 1px solid #000;
            }

            &_txt {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.2;
                color: #032022;
                transition: .2s;
            }

            &:hover &_txt {
                transition: .2s;
                color: #008900;
            }

            &_inp {
                display: none;
            }

            &_inp:checked+&_check {
                background: #008900;
                border: 1px solid #008900;

                &::before {
                    content: '';
                    display: block;
                    width: 7px;
                    height: 5px;
                    background: url('../../images/checked.svg') no-repeat center;
                }
            }
        }
    }

    &__filter {

        &_choose {

            &_lab {

                @media (max-width: 768px) {

                    &:first-child {
                        right: 0;
                    }

                    &:last-child {
                        margin-left: -25px;
                    }
                }

                &_txt {
                    color: #00000059 !important;
                    background: #F2F2F7 !important;
                    padding-left: 25px;
                }

                &_inp:checked+&_txt {
                    border: 1px solid #0089004F !important;
                    color: #000 !important;
                    background: #fff !important;
                }
            }
        }
    }
}

.footer {
    @media (max-width: 768px) {
        margin-top: 40px;
    }
}

.catalog {

    @media (max-width: 768px) {
        margin-bottom: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 37px 0 30px;
        height: 107px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            height: fit-content;
            align-items: flex-start;
            gap: 40px;
            padding: 20px 0 30px;
        }
    }

    &__labs {
        display: flex;
        align-items: center;
        height: 42px;

        @media (max-width: 768px) {
            margin: 0 auto;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 33px;

        @media (max-width: 768px) {
            font-size: 13px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 56px;
        gap: 40px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 7px;
            margin-bottom: 22px;

            .product__desc_footer {
                flex-wrap: wrap;
            }
        }
    }

    .product {
        max-width: 347px;

        @media (max-width: 768px) {
            max-width: 143px;
        }
    }
}


.topAds {
    @media (max-width: 1296px) {
        display: none;
    }
}