@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../crumbs';
@import '../filter';
@import '../product';
@import '../../font/styles/font.css';

.crumbs {
    margin-top: 204px;
}

.header {
    width: 100%;

    &__filter {

        @media (max-width: 768px) {
            padding: 38px 23px;

            &_content {
                display: grid;
                grid-template-columns: 1fr;
            }

            &_wrapper {
                gap: 8px;
                width: 242px;
                margin-bottom: 0;
            }

            &_choose {
                margin: 0;
                max-width: 242px;
                overflow: hidden;
                height: 38px;
                margin-bottom: 20px;

                &_lab {

                    &:first-child &_txt {
                        right: 0;
                        width: 115px;
                    }

                    &:last-child &_txt {
                        right: 12px;
                        text-align: right;
                        padding: 8px 22px;
                    }

                    &_inp:checked+&_txt {
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }
                }
            }

            &_bottom {
                margin-top: 0 !important;
                gap: 20px;

                &_wrapper {
                    max-width: 242px;
                }

                &_vinlab_inp {
                    max-width: 242px;
                }
            }

            &_item {
                min-width: 242px;

                .select {
                    min-width: 100%;
                }
            }
        }

        &_bottom {
            margin-top: -10px;
        }
    }
}


.spareads {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        overflow: hidden;
        max-width: 290px;
        margin: 0 auto;
        padding: 0;
    }

    &__item {
        display: flex;
        max-height: 179px;
        border-radius: 5px;

        @media (max-width: 768px) {
            max-width: 290px;
            max-height: 142px;
        }

        &.left &_desc {
            min-width: 350px !important;

            @media (max-width: 768px) {
                min-width: 202px !important;
            }
        }

        &.left {
            background: linear-gradient(84.36deg, #008900 0%, #4FEC00 97.62%);

            >img {
                max-height: 199px;
                min-height: 199px;
                margin-left: -132px;

                @media (max-width: 768px) {
                    max-height: 125px;
                    min-height: 125px;
                    margin-left: -100px;
                    margin-top: 25px;
                }
            }
        }

        &.right {
            background: #4FC8F1;

            >img {
                min-width: 250px;
                max-width: 250px;
                min-height: 179px;
                max-height: 179px;
                object-fit: cover;
                border-radius: 0 5px 5px 0;
                margin-left: auto;

                @media (max-width: 768px) {
                    min-width: 134px;
                    max-width: 134px;
                    max-height: 142px;
                    min-height: 142px;
                }
            }
        }

        &_desc {
            position: relative;
            z-index: 1030;
            max-width: 300px;
            padding: 10px 20px 18px;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 768px) {
                padding: 12px 4px 18px 8px;
                height: 142px;
            }

            &_logo {
                width: 135px;

                @media (max-width: 768px) {
                    width: 96px;
                }
            }

            &_title {
                font-weight: 700;
                font-size: 23px;
                line-height: 25px;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #000;

                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 15px;
                    margin-bottom: 6px;
                }

                span {
                    font-weight: 400;
                    font-size: 23px;
                    line-height: 25px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                    color: #000;

                    @media (max-width: 768px) {
                        font-size: 14px;
                        line-height: 15px;
                    }
                }

                &.blue {
                    color: #00204F;

                    span {
                        color: #00204F;
                    }
                }
            }

            &_pr {
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                max-width: 190px;

                @media (max-width: 768px) {
                    font-size: 8px;
                    line-height: 10px;
                }
            }

            &_link {
                border-radius: 50px;
                padding: 8px 24px;
                width: 100%;
                max-width: 122px;
                text-align: center;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                transition: .2s;

                &.white {
                    background: #fff;
                    color: #032022;

                    &:hover {
                        transition: .2s;
                        color: #fff;
                        background: #032022;
                    }
                }

                &.blue {
                    background: #00204F;
                    color: #fff;

                    &:hover {
                        transition: .2s;
                        background: #fff;
                        color: #032022;
                    }
                }
            }
        }
    }
}


.catalog {
    margin: 70px auto 50px;

    @media (max-width: 768px) {
        margin: 30px auto;
    }

    &__title {
        font-weight: 600;
        font-size: 29px;
        line-height: 18px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding: 50px 0;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 7px;
        }
    }
}

.product__desc_pr,
.product__desc_address {
    @media (max-width: 768px) {
        display: none;
    }
}

.product {
    max-width: 250px;

    &__desc {

        &_header {
            min-height: 66px;

            @media (max-width: 768px) {
                min-height: 42px;
            }
        }
        &_name {
            -webkit-line-clamp: 3;
        }
        &_pr {
            min-height: 85px;
            -webkit-line-clamp: 5;

            @media (max-width: 768px) {
                line-height: 14px;
                min-height: 70px;
            }   
        }
    }
}
.spareadswr {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto 122px;
    border-radius: 10px;

    @media (max-width: 768px) {
        border-radius: 0;
    }
}


@media (max-width: 1296px) and (min-width: 769px) {

    #adaptive {
        display: flex;
        flex-direction: column;
    }

    .topAds {
        display: none;
    }

    .crumbs {
        order: 1;
    }

    .header {
        order: 2;
    }

    .catalog {
        order: 4;
    }

    .spareads {
        order: 3;
    }

    .footer {
        order: 7;
    }

    .spareadswr {
        order: 5;
        margin: 0 auto 48px;
    }
}