* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

button,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  display: block;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.seeMore {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 27px;
  padding: 9px 26px;
  font-family: Montserrat arm;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5019607843);
  transition: 0.2s;
}
.seeMore:hover {
  background: #032022;
  transition: 0.2s;
  color: #fff;
}

.navbar {
  background: #032022;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1099;
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 18px 0;
  position: relative;
}
.navbar__bottom_menu {
  background: #fff;
}
.navbar__bottom_menu_list {
  display: flex;
  justify-content: center;
  background: #008900;
  padding: 12.5px 0;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.navbar__bottom_menu_list_link {
  display: block;
  padding: 0 38px;
  font-family: Montserrat arm;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.navbar__bottom_menu_list li:not(:last-child) a {
  border-right: 2px solid rgba(217, 217, 217, 0.5019607843);
}
.navbar__menu_btn_icon {
  display: block;
}
.navbar__menu_btn_icon.close {
  display: none;
}
.navbar__menu_btn.active .navbar__menu_btn_icon {
  display: none;
}
.navbar__menu_btn.active .navbar__menu_btn_icon.close {
  display: block;
}
.navbar__menu_burger {
  position: absolute;
  top: 99px;
  left: 0;
  background: #032022;
  width: 100%;
  padding: 20px 50px 50px;
  transform: translateY(-700px);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.navbar__menu_burger.active {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.navbar__menu .burger__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}
.navbar__menu .burger__header_title {
  text-transform: uppercase;
  color: #4FEC00;
  font-family: Montserrat arm;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
}
.navbar__menu .burger__header_close {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar__menu .burger__header_close_txt {
  font-family: Montserrat arm;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__wrapper {
  display: flex;
  align-items: flex-start;
  grid-column: 52px;
}
.navbar__menu .burger__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 482px;
}
.navbar__menu .burger__contacts_img {
  width: 100%;
  height: 241px;
  margin-bottom: 42px;
}
.navbar__menu .burger__contacts_social {
  width: 100%;
  max-width: 182px;
}
.navbar__menu .burger__contacts_social_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}
.navbar__menu .burger__contacts_phone_link {
  display: block;
  margin-bottom: 6px;
  font-family: Montserrat arm;
  font-style: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.navbar__menu .burger__contacts_phone_link.bold {
  font-size: 19px;
  font-weight: 600;
}
.navbar__menu .burger__contacts_subscribe {
  width: 100%;
  position: relative;
}
.navbar__menu .burger__contacts_subscribe_inp {
  background: rgba(217, 217, 217, 0.2509803922);
  border-radius: 5px;
  font-size: 11px;
  padding: 8px 14px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__contacts_subscribe_inp::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__contacts_subscribe_inp::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__contacts_subscribe_btn {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 13.5px;
  height: 12px;
}
.navbar__menu .burger__menu {
  width: 100%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(0px, 294px) 1fr;
  grid-gap: 35px 22px;
}
.navbar__menu .burger__menu_list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.navbar__menu .burger__menu_list_link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: Montserrat arm;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.navbar__menu .burger__menu_list_link .new__txt {
  display: block;
  padding: 2px 8px 3px 9px;
  border-radius: 3px;
  background: #FFD600;
  color: #032022;
}
.navbar__menu .burger__menu_lang {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar__menu .burger__menu_lang_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px 5px 0;
  padding: 13px 16px;
  border: 1px solid #032022;
  border-bottom: none;
}
.navbar__menu .burger__menu_lang_btn.active {
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__menu_lang_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__menu .burger__menu_lang_btn_txt {
  font-family: Montserrat arm;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.navbar__menu .burger__menu_lang_btn_icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: 0.2s;
}
.navbar__menu .burger__menu_lang_list {
  position: absolute;
  top: 46px;
  left: 0px;
  transition: 0.2s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #032022;
  padding-bottom: 11px;
  border-top: none;
  background: #032022;
}
.navbar__menu .burger__menu_lang_list.active {
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__menu_lang_list_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.2s;
  padding: 3px 3px 3px 16px;
  background: #032022;
  width: 100%;
}
.navbar__menu .burger__menu_lang_list_btn:hover {
  transition: 0.2s;
  background: #008900;
}
.navbar__menu .burger__menu_lang_list_btn.active {
  display: none;
}
.navbar__menu .burger__menu_lang_list_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__menu .burger__menu_lang_list_btn_txt {
  font-family: Montserrat arm;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.navbar__lang {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar__lang_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px 5px 0;
  padding: 13px 16px;
  border: 1px solid #032022;
  border-bottom: none;
}
.navbar__lang_btn.active {
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__lang_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__lang_btn_txt {
  font-family: Montserrat arm;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.navbar__lang_btn_icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: 0.2s;
}
.navbar__lang_list {
  position: absolute;
  top: 46px;
  left: 0px;
  transition: 0.2s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #032022;
  padding-bottom: 11px;
  border-top: none;
  background: #032022;
}
.navbar__lang_list.active {
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__lang_list_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.2s;
  padding: 3px 3px 3px 16px;
  background: #032022;
  width: 100%;
}
.navbar__lang_list_btn:hover {
  transition: 0.2s;
  background: #008900;
}
.navbar__lang_list_btn.active {
  display: none;
}
.navbar__lang_list_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__lang_list_btn_txt {
  font-family: Montserrat arm;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.navbar__logo {
  width: 231px;
}
.navbar__logo_img {
  width: 100%;
}
.navbar__search {
  width: 100%;
  max-width: 679px;
  position: relative;
}
.navbar__search_inp {
  width: 100%;
  background: #fff;
  border-radius: 58px;
  height: 47px;
  padding: 15px 43px;
  font-family: Montserrat arm;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #032022;
}
.navbar__search_inp::-moz-placeholder {
  color: #032022;
}
.navbar__search_inp::placeholder {
  color: #032022;
}
.navbar__search_btn {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 42px;
  background: #032022;
  width: 60px;
  height: 41px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__search_btn_icon {
  width: 18px;
  height: 18px;
}

.footer {
  background: #052322;
  max-width: 1120px;
  padding: 0;
}
.footer .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 55px 32px;
}
.footer .info * {
  color: #fff;
}
.footer .info__logo {
  width: 100%;
  max-width: 426px;
}
.footer .info__logo_el {
  width: 100%;
  max-width: 201px;
  margin-bottom: 24px;
}
.footer .info__logo_el_img {
  width: 100%;
}
.footer .info__logo_pr {
  font-family: Montserrat arm;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.footer .info .line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 33px 0;
}
.footer .info__contact_title, .footer .info__social_title {
  margin-bottom: 13px;
  font-family: Montserrat arm;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #4FEC00;
}
.footer .info__contact_list {
  display: grid;
  gap: 7px;
}
.footer .info__contact_list_link {
  font-family: Montserrat arm;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.footer .info__social {
  width: 100%;
  max-width: 182px;
}
.footer .info__social_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
}
.footer .info__social_lab {
  position: relative;
}
.footer .info__social_lab_icon {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 13.5px;
}
.footer .info__social_lab_inp {
  padding: 8px 34px 8px 14px;
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.2509803922);
  font-family: Montserrat arm;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer .info__list {
  display: grid;
  gap: 11px;
}
.footer .info__list_link {
  font-family: Montserrat arm;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}
.footer .info a {
  transition: 0.2s;
}
.footer .info a:hover {
  transition: 0.2s;
  color: #4FEC00;
}
.footer .info__work {
  margin-top: 23px;
}
.footer .info__work_title {
  font-family: Montserrat arm;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #4FEC00;
}
.footer .info__work_pr {
  font-family: Montserrat arm;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.topAds {
  display: flex;
  justify-content: space-between;
  max-height: 1px;
  width: 100%;
  max-width: 1630px;
  min-width: 1630px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  top: 164px;
  z-index: 1080;
}
@media (max-width: 1296px) {
  .topAds {
    position: static;
    margin: 50px 0;
    transform: translate(0, 0);
    min-width: 0;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 60px 15px;
    justify-content: center;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .topAds {
    margin: 0;
    gap: 6px;
    grid-template-columns: 1fr;
  }
}
.topAds__header {
  display: none;
}
@media (max-width: 1296px) {
  .topAds__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/3;
    margin-bottom: 16px;
  }
  .topAds__header_title {
    font-size: 24px;
    line-height: 1;
    color: #032022;
  }
  .topAds__header_seeAll {
    font-size: 23px;
    line-height: 1;
    color: #008900;
  }
}
@media (max-width: 768px) {
  .topAds__header {
    grid-column: 1/2;
    margin: 0;
  }
  .topAds__header_title {
    font-size: 12px;
  }
  .topAds__header_seeAll {
    font-size: 12px;
  }
}
.topAds__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 234px;
}
@media (max-width: 1296px) {
  .topAds__item {
    grid-template-columns: 108fr 108fr 234fr;
    max-width: 1120px;
  }
}
@media (max-width: 768px) {
  .topAds__item {
    grid-template-columns: repeat(2, 1fr);
  }
}
.topAds__item.left {
  left: 146px;
}
.topAds__item.right {
  right: 146px;
}
.topAds__item_img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1296px) and (min-width: 768px) {
  .topAds__item_img {
    width: 100%;
  }
  .topAds__item_img:nth-child(1), .topAds__item_img:nth-child(2) {
    grid-row: 1/3;
    height: 100%;
  }
  .topAds__item_img:nth-child(3) {
    grid-row: 1/2;
  }
  .topAds__item_img:nth-child(4) {
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .topAds__item_img {
    width: 140px;
    height: 169px;
    border-radius: 10px;
  }
}
@media (min-width: 1296px) {
  .topAds__item .col2 {
    grid-column: 1/3;
  }
}
@media (max-width: 1296px) and (min-width: 768px) {
  .topAds__item .col2 {
    grid-column: 3/4;
  }
}

.crumbs {
  padding: 18px 0;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .crumbs {
    padding: 12px 0;
  }
}
.crumbs__list {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .crumbs__list {
    gap: 8px;
  }
}
.crumbs__list_link {
  display: flex;
  gap: 5px;
  font-family: Montserrat arm;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(3, 32, 34, 0.5019607843);
  transition: 0.2s;
}
@media (max-width: 768px) {
  .crumbs__list_link {
    gap: 8px;
    font-size: 10px;
  }
}
.crumbs__list_link:hover {
  color: #032022;
  transition: 0.2s;
}

.header__address {
  width: 100%;
  max-width: 347px;
}
.header__address_social {
  background: url("../../images/adresBG.png") no-repeat center;
  width: 100%;
  height: 190px;
  border-radius: 15px;
  padding: 17px 21px 27px;
  margin-bottom: 17px;
}
.header__address_social_title {
  font-family: Montserrat arm;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 16px;
  color: #4FEC00;
}
.header__address_social_list {
  display: grid;
  gap: 26px;
}
.header__address_social_list_link {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__address_social_list_link_icon {
  width: 20px;
  height: 20px;
}
.header__address_social_list_link_txt {
  color: #fff;
  font-family: Montserrat arm;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__address_list {
  display: grid;
  gap: 10px;
}
.header__address_list_link {
  font-family: Montserrat arm;
  font-weight: 500;
  font-style: Medium;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #008900;
  text-align: right;
}

.crumbs {
  margin-top: 204px;
}

.header {
  width: 100%;
}
.header__wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  gap: 38px;
}
.header__desc {
  max-width: 733px;
  padding-top: 27px;
}
.header__desc_title {
  font-family: Montserrat arm;
  font-weight: 900;
  font-style: Black;
  font-size: 31px;
  line-height: 23px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 19px;
  color: #008900;
}
.header__desc_pr {
  font-family: Montserrat arm;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}
.header__desc_pr strong {
  font-weight: 600;
}

.address {
  width: 100%;
  max-width: 1120px;
  margin: -20px auto 37px;
}
.address__wrapper {
  display: flex;
  gap: 25px;
}
.address__pic {
  width: 100%;
  max-width: 515px;
}
.address__pic_title {
  font-family: Montserrat arm;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0%;
  margin-bottom: 2px;
}
.address__pic_img {
  width: 100%;
  border-radius: 10px;
}
.address__map {
  width: 100%;
  max-width: 580px;
}
.address__map_link {
  font-family: Montserrat arm;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 50px;
  letter-spacing: 0%;
  color: rgba(0, 77, 226, 0.8);
  transition: 0.2s;
}
.address__map_link:hover {
  color: #004DE2;
}

.gallery {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto 45px;
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 39px 37px;
  margin-bottom: 37px;
}/*# sourceMappingURL=singleSalon.css.map */