@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../crumbs';
@import '../address';
@import '../../adaptiveMode/adaptive';
@import '../../font/styles/font.css';


.crumbs {
    margin-top: 204px;
}


.header {
    width: 100%;

    &__wrapper {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        gap: 38px;

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 0 16px;
            margin-top: 38px;
        }
    }

    &__desc {
        max-width: 733px;
        padding-top: 27px;

        @media (max-width: 768px) {
            padding: 0;
        }

        &_title {
            font-weight: 900;
            font-size: 31px;
            line-height: 23px;
            text-transform: uppercase;
            margin-bottom: 19px;
            color: #008900;

            @media (max-width: 768px) {
                font-size: 20px;
                margin-bottom: 12px;
            }
        }

        &_pr {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;

            @media (max-width: 768px) {
                font-size: 12px;
                line-height: 17px;
            }

            strong {
                font-weight: 600;
            }
        }
    }
}


.address {
    width: 100%;
    max-width: 1120px;
    margin: -20px auto 37px;

    @media (max-width: 768px) {
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        gap: 25px;

        @media (max-width: 768px) {
            gap: 0px;
            flex-direction: column;
            padding: 0 16px;
        }
    }

    &__pic {
        width: 100%;
        max-width: 515px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }

        &_title {
            font-weight: 700;
            font-size: 18px;
            line-height: 50px;
            margin-bottom: 2px;

            @media (max-width: 768px) {
                font-size: 11px;
                margin-bottom: -9px;
            }
        }

        &_img {
            width: 100%;
            border-radius: 10px;

            @media (max-width: 768px) {
                height: 191px;
                object-fit: cover;
            }
        }
    }

    &__map {
        width: 100%;
        max-width: 580px;

        &_frame {
            border-radius: 12px;

            @media (max-width: 768px) {
                width: 284px;
                height: 194px;
            }
        }

        &_link {
            font-weight: 700;
            font-size: 12px;
            line-height: 50px;
            color: #004DE2CC;
            transition: .2s;

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                color: #004DE2;
            }
        }
    }
}


.gallery {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto 45px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 39px 37px;
        margin-bottom: 37px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 14px 7px;   
            padding: 0 14px;
        }
    }

    &__img {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;

        @media (max-width: 768px) {
            height: 91px;   
        }
    }
}


@media (max-width: 1296px) {
    .topAds {
        order: 4;
    }

    .crumbs {
        order: 1;
    }

    .header {
        order: 2;
    }

    .address {
        order: 3;
    }

    .gallery {
        order: 5;
    }

    .footer {
        order: 6;
    }
}