@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../crumbs';


.crumbs {
    margin-top: 204px;
}


.header {
    width: 100%;

    &__wrapper {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        gap: 38px;
    }

    &__desc {
        max-width: 733px;
        padding-top: 27px;

        &_title {
            font-family: Montserrat arm;
            font-weight: 900;
            font-style: Black;
            font-size: 31px;
            line-height: 23px;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 19px;
            color: #008900;
        }

        &_pr {
            font-family: Montserrat arm;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;

            strong {
                font-weight: 600;
            }
        }
    }

    &__address {
        width: 100%;
        max-width: 347px;

        &_social {
            background: url('../../images/adresBG.png') no-repeat center;
            width: 100%;
            height: 190px;
            border-radius: 15px;
            padding: 17px 21px 27px;
            margin-bottom: 17px;

            &_title {
                font-family: Montserrat arm;
                font-weight: 700;
                font-style: Bold;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                margin-bottom: 16px;
                color: #4FEC00;
            }

            &_list {
                display: grid;
                gap: 26px;

                &_link {
                    display: flex;
                    align-items: center;
                    gap: 18px;

                    &_icon {
                        width: 20px;
                        height: 20px;
                    }

                    &_txt {
                        color: #fff;
                        font-family: Montserrat arm;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 13px;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }
                }
            }
        }

        &_list {
            display: grid;
            gap: 10px;

            &_link {
                font-family: Montserrat arm;
                font-weight: 500;
                font-style: Medium;
                font-size: 25px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #008900;
                text-align: right;
            }
        }
    }
}


.address {
    width: 100%;
    max-width: 1120px;
    margin: -20px auto 37px;


    &__wrapper {
        display: flex;
        gap: 25px;
    }

    &__pic {
        width: 100%;
        max-width: 515px;

        &_title {
            font-family: Montserrat arm;
            font-weight: 700;
            font-style: Bold;
            font-size: 18px;
            line-height: 50px;
            letter-spacing: 0%;
            margin-bottom: 2px;
        }

        &_img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &__map {
        width: 100%;
        max-width: 580px;

        &_link {
            font-family: Montserrat arm;
            font-weight: 700;
            font-style: Bold;
            font-size: 12px;
            line-height: 50px;
            letter-spacing: 0%;
            color: #004DE2CC;
            transition: .2s;

            &:hover {
                color: #004DE2;
            }
        }
    }
}


.gallery {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto 45px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 39px 37px;
        margin-bottom: 37px;
    }
}