@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../crumbs';
@import '../reading';
@import '../../font/styles/font.css';


.crumbs {
    margin-top: 204px;
}

.header {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;

    .swiper,
    .swiper-wrapper,
    .swiper-slide {
        min-height: 393px;

        @media (max-width: 768px) {
            min-height: 0;
        }
    }

    &__slider {
        position: relative;

        &_btn {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 1090;
            width: 41px;
            height: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            transition: .2s;

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                transition: .2s;
                background: #032022;
            }

            &_icon {
                transition: .2s;
            }

            &:hover &_icon {
                transition: .2s;
                filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
            }

            &.next {
                right: 16px;
            }

            &.prev {
                left: 16px;
            }
        }

        &_el {
            position: relative;
            min-height: 393px;
            padding: 20px 57px;

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column-reverse;
                padding: 0;
                min-height: 0;
            }

            &_pic {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media (max-width: 768px) {
                    position: relative;
                    height: 102px;
                    margin-bottom: 10px;
                }
            }
        }

        &_date {
            position: relative;
            z-index: 1091;
            padding: 6px 12px;
            width: fit-content;
            max-width: fit-content;
            border-radius: 3px;
            background: #5a6772;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            margin-bottom: 14px;

            @media (max-width: 768px) {
                margin: 13px 0 0;
            }
        }

        &_title {
            font-weight: 900;
            font-size: 40px;
            line-height: 44px;
            text-transform: uppercase;
            color: #143A61;
            position: relative;
            z-index: 1091;

            @media (max-width: 768px) {
                font-size: 15px;
                line-height: 16px;
            }
        }

        .swiper-pagination {
            position: absolute;
            bottom: 27px;
            left: 57px;
            z-index: 1091;
            width: calc(100% - (57px * 2));
            text-align: left;

            @media (max-width: 768px) {
                display: none;
            }

            &-bullet {
                background: #FFFFFF;
                border-radius: 0px;
                width: 96px;
                height: 5px;
                transition: .2s;
            }
        }
    }
}


.content {
    width: 100%;
    max-width: 1150px;
    margin: 30px auto 70px;
    display: grid;
    grid-template-columns: 73fr 35fr;
    align-items: flex-start;
    gap: 40px;
    padding: 0 15px;

    .seeAll {
        display: none;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0;

        .seeMore {
            order: 2;
        }

        .reading {
            order: 3;
        }

        .seeAll {
            display: block;
            position: absolute;
            top: 22px;
            right: 17px;
            font-size: 11px;
            font-weight: 400;
            line-height: 100%;
            color: #008900;
        }
    }
}


.articles {
    width: 100%;
    max-width: 730px;
    display: grid;
    gap: 16px;

    @media (max-width: 768px) {
        gap: 20px;
        order: 1;
    }

    &__item {
        display: flex;
        gap: 14px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 6px;
        }

        &_pic {
            width: 100%;
            max-width: 290px;
            height: fit-content;
            border-radius: 15px;
        }

        &_desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .2s;
            gap: 15px;
            padding: 11px 14px 16px;
            height: fit-content;
            min-height: 232px;
            border-radius: 15px;

            @media (max-width: 768px) {
                padding: 10px 9px 19px 13px;
                height: 209px;
                background: #D9D9D940;
            }

            &_date {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: #00000080;

                @media (max-width: 768px) {
                    font-size: 10px;
                }
            }

            &_name {
                font-weight: 700;
                font-size: 19px;
                line-height: 22px;
                margin: 13px 0;
                color: #008900;

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;

                @media (max-width: 768px) {
                    margin: 18px 0;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            &_pr {
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;

                @media (max-width: 768px) {
                    font-size: 11px;
                    line-height: 17px;
                }
            }

            &_footer {
                display: flex;
                align-items: center;

                @media (max-width: 768px) {
                    justify-content: space-between;
                }

                &_tag {
                    margin-right: 30px;
                    padding: 8px 7px;
                    background: #0000001A;
                    border-radius: 3px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                    width: fit-content;
                    transition: .2s;

                    &:hover {
                        color: #fff;
                        background: #032022;
                        transition: .2s;
                    }
                }

                &_see,
                &_comm {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-right: 21px;

                    &_txt {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 100%;
                    }
                }

                &_see {
                    @media (max-width: 768px) {
                        margin-left: auto;
                    }
                }
            }
        }

        &:hover &_desc {
            transition: .2s;
            background: #D9D9D940;
        }
    }
}

@media (max-width: 1296px) and (min-width: 769px) {
    #adaptive {
        display: flex;
        flex-direction: column;
    }

    .topAds {
        order: 4;
    }

    .crumbs {
        order: 1;
    }

    .header {
        order: 2;
    }

    .content {
        order: 3;
    }

    .footer {
        order: 5;
    }
}