@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../crumbs';
@import '../../font/styles/font.css';


.crumbs {
    margin-top: 204px;
}


.form {
    width: 100%;
    max-width: 1120px;
    border-radius: 12px;
    background: #E9F1EF;
    padding: 53px 20px 57px;
    margin: 0 auto 25px;

    @media (max-width: 768px) {
        margin: 0;
        padding: 32px 16px 65px;
    }
    &__wrapper {
        width: 100%;
        max-width: 644px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 89px;
        font-weight: 900;
        font-size: 40px;
        line-height: 23px;
        text-transform: uppercase;
        text-align: center;
        color: #008900;

        @media (max-width: 768px) {
            font-size: 23px;
            margin-bottom: 33px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 23px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 16px;
            margin-bottom: 16px;
        }
        &_name {
            margin-bottom: 7px;
            font-weight: 400;
            font-size: 13px;
        }

        &_inp {
            width: 100%;
            border-radius: 7px;
            background: #7070702E;
            padding: 12px 20px;
            font-weight: 400;
            font-size: 13px;
            color: #00000080;
        }
    }

    &__textarea {
        margin-bottom: 36px;

        &_name {
            margin-bottom: 7px;
            font-weight: 400;
            font-size: 13px;
        }

        &_el {
            width: 100%;
            border-radius: 7px;
            background: #7070702E;
            padding: 12px 20px;
            font-weight: 400;
            font-size: 13px;
            min-height: 206px;
            color: #00000080;
        }
    }

    &__submit {
        border-radius: 5px;
        background: #008900;
        transition: .2s;
        padding: 1px 90px;
        width: fit-content;
        font-weight: 700;
        font-size: 14px;
        line-height: 50px;
        color: #E9F1EF;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 100%;
            line-height: 41px;
        }
        &:hover {
            transition: .2s;
            background: #00c700;
        }
    }
}


@media (max-width: 1296px) {
    .topAds {
        display: none;
    }
}