@import '../../font/styles/font.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

button,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  display: block;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.seeMore {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 27px;
  padding: 9px 26px;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5019607843);
  transition: 0.2s;
}
.seeMore:hover {
  background: #032022;
  transition: 0.2s;
  color: #fff;
}
@media (max-width: 768px) {
  .seeMore {
    font-size: 10px;
    padding: 7px 14px;
  }
}

.mobileads {
  display: none;
}
@media (max-width: 768px) {
  .mobileads {
    display: block;
    padding: 20px 15px;
  }
  .mobileads__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  .mobileads__header_title {
    font-weight: 600;
    font-size: 9px;
    line-height: 100%;
  }
  .mobileads__header_seeAll {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: #008900;
  }
  .mobileads__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
  .mobileads__img {
    width: 143px;
    height: 169px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 1296px) {
  .topAds {
    z-index: 1020 !important;
  }
}
@media (max-width: 768px) {
  .topAds {
    display: none !important;
  }
}

.ads2__img img {
  width: 100%;
}

.fixedBtns {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1090;
}
@media (max-width: 768px) {
  .fixedBtns {
    right: 16px;
    bottom: 16px;
  }
}
.fixedBtns__btn {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .fixedBtns__btn {
    width: 36px;
    height: 36px;
    margin-top: 11px;
  }
}
.fixedBtns__btn.invisible {
  position: relative;
  transition: 0.2s;
  right: -150px;
}
.fixedBtns__btn.is-visible {
  right: 0px !important;
  transition: 0.2s;
}
.fixedBtns__btn:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 17.6px 0px rgba(204, 255, 0, 0.3607843137);
}
.fixedBtns__btn_icon {
  width: 100%;
  height: 100%;
}

.navbar {
  background: #032022;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1099;
}
@media (max-width: 768px) {
  .navbar .wrapper {
    padding: 0;
  }
  .navbar .wrapper .navbar__ads_img {
    width: 100%;
    height: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 18px 0;
  position: relative;
}
@media (max-width: 768px) {
  .navbar__container {
    padding: 6px 19px;
  }
}
.navbar__bottom_menu {
  background: #fff;
}
@media (max-width: 768px) {
  .navbar__bottom_menu {
    overflow-y: scroll;
    max-width: 320px;
  }
  .navbar__bottom_menu::-webkit-scrollbar {
    display: none;
  }
}
.navbar__bottom_menu_list {
  display: flex;
  justify-content: center;
  background: #008900;
  padding: 12.5px 0;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .navbar__bottom_menu_list {
    padding: 13px 5px;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
.navbar__bottom_menu_list_link {
  display: block;
  padding: 0 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  white-space: nowrap;
  transition: 0.2s;
}
.navbar__bottom_menu_list_link:hover {
  transition: 0.2s;
  color: #032022;
}
@media (max-width: 768px) {
  .navbar__bottom_menu_list_link {
    padding: 0 15px;
  }
}
.navbar__bottom_menu_list li:not(:last-child) a {
  border-right: 2px solid rgba(217, 217, 217, 0.5019607843);
}
@media (max-width: 768px) {
  .navbar__menu {
    order: 3;
  }
}
.navbar__menu_btn {
  position: relative;
  width: 26px;
  height: 26px;
}
@media (max-width: 768px) {
  .navbar__menu_btn {
    width: 22px;
    height: 22px;
  }
}
.navbar__menu_btn_icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 1;
  transition: 0.2s;
}
.navbar__menu_btn_icon.hover {
  transition: 0.2s;
  opacity: 0;
}
.navbar__menu_btn_icon.close {
  display: none;
}
.navbar__menu_btn:hover .navbar__menu_btn_icon.hover {
  opacity: 1;
  transition: 0.2s;
}
.navbar__menu_btn.active .navbar__menu_btn_icon {
  display: none;
}
.navbar__menu_btn.active .navbar__menu_btn_icon.close {
  display: block;
}
.navbar__menu_burger {
  position: absolute;
  top: 99px;
  left: 0;
  background: #032022;
  width: 100%;
  padding: 20px 50px 50px;
  transform: translateY(-700px);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  .navbar__menu_burger {
    top: -44px;
    padding: 50px 30px 30px;
    z-index: 1110;
  }
}
.navbar__menu_burger.active {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.navbar__menu .burger * {
  transition: 0.2s;
}
.navbar__menu .burger *:hover {
  transition: 0.2s;
  color: #4FEC00;
}
.navbar__menu .burger__logo {
  display: none;
}
@media (max-width: 768px) {
  .navbar__menu .burger__logo {
    display: block;
    margin-bottom: 35px;
  }
}
.navbar__menu .burger__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}
@media (max-width: 768px) {
  .navbar__menu .burger__header {
    margin: 0;
    position: relative;
  }
}
.navbar__menu .burger__header_title {
  text-transform: uppercase;
  color: #4FEC00;
  font-weight: 600;
  font-size: 19px;
  line-height: 100%;
}
@media (max-width: 768px) {
  .navbar__menu .burger__header_title {
    display: none;
  }
}
.navbar__menu .burger__header_close {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 768px) {
  .navbar__menu .burger__header_close {
    position: absolute;
    right: 0;
    top: -30px;
  }
}
.navbar__menu .burger__header_close_txt {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5019607843);
}
@media (max-width: 768px) {
  .navbar__menu .burger__header_close_txt {
    display: none;
  }
}
.navbar__menu .burger__wrapper {
  display: flex;
  align-items: flex-start;
  grid-column: 52px;
}
@media (max-width: 768px) {
  .navbar__menu .burger__wrapper {
    flex-direction: column;
  }
}
.navbar__menu .burger__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 482px;
}
.navbar__menu .burger__contacts_img {
  width: 100%;
  height: 241px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .navbar__menu .burger__contacts_img {
    margin-bottom: 38px;
    height: 129px;
  }
}
.navbar__menu .burger__contacts_social {
  width: 100%;
  max-width: 182px;
}
.navbar__menu .burger__contacts_social_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}
.navbar__menu .burger__contacts_social_list_link {
  width: 18px;
  height: 18px;
}
.navbar__menu .burger__contacts_social_list_link_icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar__menu .burger__contacts_social_list_link_icon.hover {
  display: none;
}
.navbar__menu .burger__contacts_social_list_link:hover .burger__contacts_social_list_link_icon {
  display: none;
}
.navbar__menu .burger__contacts_social_list_link:hover .burger__contacts_social_list_link_icon.hover {
  display: block;
}
@media (max-width: 768px) {
  .navbar__menu .burger__contacts_phone {
    margin-bottom: 32px;
  }
}
.navbar__menu .burger__contacts_phone_link {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.navbar__menu .burger__contacts_phone_link.bold {
  font-size: 19px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .navbar__menu .burger__contacts_phone_link.bold {
    color: #CCFF00;
  }
}
.navbar__menu .burger__contacts_subscribe {
  width: 100%;
  position: relative;
}
.navbar__menu .burger__contacts_subscribe_inp {
  background: rgba(217, 217, 217, 0.2509803922);
  border-radius: 5px;
  font-size: 11px;
  padding: 8px 14px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__contacts_subscribe_inp::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__contacts_subscribe_inp::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__contacts_subscribe_btn {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 13.5px;
  height: 12px;
}
.navbar__menu .burger__menu {
  width: 100%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(0px, 294px) 1fr;
  grid-gap: 35px 22px;
}
@media (max-width: 768px) {
  .navbar__menu .burger__menu {
    grid-template-columns: 1fr;
  }
}
.navbar__menu .burger__menu_list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 768px) {
  .navbar__menu .burger__menu_list {
    position: relative;
  }
  .navbar__menu .burger__menu_list:not(:nth-child(3))::after {
    content: "";
    display: block;
    width: 33px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5019607843);
    position: absolute;
    bottom: -15px;
  }
}
.navbar__menu .burger__menu_list_link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
@media (max-width: 768px) {
  .navbar__menu .burger__menu_list_link {
    line-height: 17px;
  }
}
.navbar__menu .burger__menu_list_link .new__txt {
  display: block;
  padding: 2px 8px;
  border-radius: 3px;
  background: #FFD600;
  color: #032022;
  font-size: 10px;
  line-height: 100%;
}
.navbar__menu .burger__menu_lang {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .navbar__menu .burger__menu_lang {
    margin-left: -16px;
    margin-bottom: 12px;
    margin-top: -10px;
  }
}
.navbar__menu .burger__menu_lang_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px 5px 0;
  padding: 13px 16px;
  border: 1px solid #032022;
  border-bottom: none;
}
.navbar__menu .burger__menu_lang_btn.active {
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__menu_lang_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__menu .burger__menu_lang_btn_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.navbar__menu .burger__menu_lang_btn_icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: 0.2s;
}
.navbar__menu .burger__menu_lang_list {
  position: absolute;
  top: 46px;
  left: 0px;
  transition: 0.2s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #032022;
  padding-bottom: 11px;
  border-top: none;
  background: #032022;
}
.navbar__menu .burger__menu_lang_list.active {
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__menu .burger__menu_lang_list_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.2s;
  padding: 3px 3px 3px 16px;
  background: #032022;
  width: 100%;
}
.navbar__menu .burger__menu_lang_list_btn:hover {
  transition: 0.2s;
  background: #008900;
}
.navbar__menu .burger__menu_lang_list_btn.active {
  display: none;
}
.navbar__menu .burger__menu_lang_list_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__menu .burger__menu_lang_list_btn_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.navbar__lang {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .navbar__lang {
    display: none;
  }
}
.navbar__lang_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px 5px 0;
  padding: 13px 16px;
  border: 1px solid #032022;
  border-bottom: none;
}
.navbar__lang_btn.active {
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__lang_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__lang_btn_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.navbar__lang_btn_icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: 0.2s;
}
.navbar__lang_list {
  position: absolute;
  top: 46px;
  left: 0px;
  transition: 0.2s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #032022;
  padding-bottom: 11px;
  border-top: none;
  background: #032022;
}
.navbar__lang_list.active {
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
  border-color: rgba(255, 255, 255, 0.5019607843);
}
.navbar__lang_list_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.2s;
  padding: 3px 3px 3px 16px;
  background: #032022;
  width: 100%;
}
.navbar__lang_list_btn:hover {
  transition: 0.2s;
  background: #008900;
}
.navbar__lang_list_btn.active {
  display: none;
}
.navbar__lang_list_btn_flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar__lang_list_btn_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.navbar__logo {
  width: 231px;
}
@media (max-width: 768px) {
  .navbar__logo {
    width: 134px;
  }
}
.navbar__logo_img {
  width: 100%;
}
.navbar__search {
  width: 100%;
  max-width: 679px;
  position: relative;
}
@media (max-width: 768px) {
  .navbar__search {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}
.navbar__search_inp {
  width: 100%;
  background: #fff;
  border-radius: 58px;
  height: 47px;
  padding: 15px 43px;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #032022;
}
@media (max-width: 768px) {
  .navbar__search_inp {
    position: absolute;
    width: 0px;
    right: -5px;
    top: -3px;
    height: auto;
    padding: 12px 0px;
    transition: 0.3s;
    z-index: 1099;
    font-size: 12px;
  }
  .navbar__search_inp.active {
    padding: 12px 42px 12px 12px;
    width: 255px;
  }
}
.navbar__search_inp::-moz-placeholder {
  color: #032022;
}
.navbar__search_inp::placeholder {
  color: #032022;
}
.navbar__search_btn {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 42px;
  background: #032022;
  width: 60px;
  height: 41px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border: 1px solid #032022;
}
.navbar__search_btn:hover {
  border-color: #4FEC00;
  transition: 0.2s;
}
.navbar__search_btn:hover .navbar__search_btn_icon {
  transform: scale(1.2);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .navbar__search_btn {
    padding: 7px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1100;
  }
}
.navbar__search_btn_icon {
  width: 18px;
  transition: 0.3s;
  height: 18px;
}

.footer {
  background: #052322;
  max-width: 1120px;
  padding: 0;
}
.footer .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 55px 32px;
}
@media (max-width: 768px) {
  .footer .info {
    flex-direction: column;
    padding: 14px 20px 73px;
  }
}
.footer .info * {
  color: #fff;
}
.footer .info__logo {
  width: 100%;
  max-width: 426px;
}
@media (max-width: 768px) {
  .footer .info__logo {
    order: 1;
  }
}
.footer .info__logo_el {
  width: 100%;
  max-width: 201px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer .info__logo_el {
    max-width: 157px;
    margin: 0;
  }
}
.footer .info__logo_el_img {
  width: 100%;
}
.footer .info__logo_el_img.mobile {
  display: none;
}
@media (max-width: 768px) {
  .footer .info__logo_el_img {
    display: none;
  }
  .footer .info__logo_el_img.mobile {
    display: block;
  }
}
.footer .info__logo_pr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .footer .info__logo_pr {
    margin: 20px 0 25px;
    font-size: 8px;
  }
}
.footer .info .line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 33px 0;
}
@media (max-width: 768px) {
  .footer .info .line {
    display: none;
  }
}
.footer .info__contact_title, .footer .info__social_title {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #4FEC00;
}
@media (max-width: 768px) {
  .footer .info__contact {
    order: 4;
    padding: 16px 0 31px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.footer .info__contact_list {
  display: grid;
  gap: 7px;
}
.footer .info__contact_list_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.footer .info__social {
  width: 100%;
  max-width: 182px;
}
@media (max-width: 768px) {
  .footer .info__social {
    order: 5;
    max-width: 100%;
  }
}
.footer .info__social_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer .info__social_list {
    margin: 18px auto 27px;
    max-width: 250px;
  }
}
.footer .info__social_list_link {
  width: 18px;
  height: 18px;
}
.footer .info__social_list_link_icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .info__social_list_link_icon.hover {
  display: none;
}
.footer .info__social_list_link:hover .info__social_list_link_icon {
  display: none;
}
.footer .info__social_list_link:hover .info__social_list_link_icon.hover {
  display: block;
}
.footer .info__social_lab {
  position: relative;
}
.footer .info__social_lab_icon {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 13.5px;
}
.footer .info__social_lab_inp {
  padding: 8px 34px 8px 14px;
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.2509803922);
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5019607843);
}
@media (max-width: 768px) {
  .footer .info__social_lab_inp {
    width: 100%;
  }
}
.footer .info__list {
  display: grid;
  gap: 11px;
}
@media (max-width: 768px) {
  .footer .info__list {
    order: 3;
    padding: 23px 0;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.footer .info__list_link {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}
@media (max-width: 768px) {
  .footer .info__list_link {
    color: #4FEC00;
  }
}
.footer .info a {
  transition: 0.2s;
}
.footer .info a:hover {
  transition: 0.2s;
  color: #4FEC00;
}
.footer .info__work {
  margin-top: 23px;
}
@media (max-width: 768px) {
  .footer .info__work {
    order: 6;
    margin-top: 38px;
  }
}
.footer .info__work_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #4FEC00;
}
@media (max-width: 768px) {
  .footer .info__work_title {
    font-size: 14px;
    line-height: 23px;
  }
}
.footer .info__work_pr {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .footer .info__work_pr {
    font-size: 14px;
    line-height: 23px;
  }
}

.topAds {
  display: flex;
  justify-content: space-between;
  max-height: 1px;
  width: 100%;
  max-width: 1630px;
  min-width: 1630px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  top: 164px;
  z-index: 1099;
}
@media (max-width: 1296px) {
  .topAds {
    position: static;
    margin: 50px 0;
    transform: translate(0, 0);
    min-width: 0;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 60px 15px;
    justify-content: center;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .topAds {
    margin: 0;
    gap: 6px;
    grid-template-columns: 1fr;
  }
}
.topAds__header {
  display: none;
}
@media (max-width: 1296px) {
  .topAds__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/3;
    margin-bottom: 16px;
  }
  .topAds__header_title {
    font-size: 24px;
    line-height: 1;
    color: #032022;
  }
  .topAds__header_seeAll {
    font-size: 23px;
    line-height: 1;
    color: #008900;
  }
}
@media (max-width: 768px) {
  .topAds__header {
    grid-column: 1/2;
    margin: 0;
  }
  .topAds__header_title {
    font-size: 12px;
  }
  .topAds__header_seeAll {
    font-size: 12px;
  }
}
.topAds__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 234px;
}
@media (max-width: 1296px) {
  .topAds__item {
    grid-template-columns: 108fr 108fr 234fr;
    max-width: 1120px;
  }
}
@media (max-width: 768px) {
  .topAds__item {
    grid-template-columns: repeat(2, 1fr);
  }
}
.topAds__item.left {
  left: 146px;
}
.topAds__item.right {
  right: 146px;
}
.topAds__item_img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1296px) and (min-width: 768px) {
  .topAds__item_img {
    width: 100%;
  }
  .topAds__item_img:nth-child(1), .topAds__item_img:nth-child(2) {
    grid-row: 1/3;
    height: 100%;
  }
  .topAds__item_img:nth-child(3) {
    grid-row: 1/2;
  }
  .topAds__item_img:nth-child(4) {
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .topAds__item_img {
    width: 140px;
    height: 169px;
    border-radius: 10px;
  }
}
@media (min-width: 1296px) {
  .topAds__item .col2 {
    grid-column: 1/3;
  }
}
@media (max-width: 1296px) and (min-width: 768px) {
  .topAds__item .col2 {
    grid-column: 3/4;
  }
}

.crumbs {
  padding: 18px 0;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .crumbs {
    padding: 12px 16px;
    margin-top: 133px !important;
    max-width: 320px;
  }
}
.crumbs__list {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .crumbs__list {
    gap: 8px;
    overflow-y: scroll;
  }
  .crumbs__list::-webkit-scrollbar {
    display: none;
  }
}
.crumbs__list_link {
  display: flex;
  gap: 5px;
  font-weight: 700;
  font-size: 12px;
  color: rgba(3, 32, 34, 0.5019607843);
  transition: 0.2s;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .crumbs__list_link {
    gap: 8px;
    font-size: 10px;
  }
}
.crumbs__list_link:hover {
  color: #032022;
  transition: 0.2s;
}

#adaptive {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (max-width: 1646px) {
  #adaptive {
    display: flex;
    flex-direction: column;
    min-width: 1630px;
    max-width: 1630px;
  }
}
@media (max-width: 1296px) {
  #adaptive {
    min-width: 1150px;
    max-width: 1150px;
  }
}
@media (max-width: 768px) {
  #adaptive {
    min-width: 320px;
    max-width: 320px;
  }
}

.header {
  padding-top: 204px;
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
}

.salons {
  padding: 57px 57px 99px;
  border-radius: 12px;
  background: #E9F1EF;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
@media (max-width: 1296px) {
  .salons {
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .salons {
    padding: 32px 17px;
  }
}
.salons__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 23px;
  text-transform: uppercase;
  color: #008900;
  margin-bottom: 42px;
  text-align: center;
}
@media (max-width: 1296px) {
  .salons__title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .salons__title {
    font-size: 20px;
  }
}
.salons__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 27px 40px;
}
@media (max-width: 1296px) {
  .salons__wrapper {
    gap: 20px 40px;
  }
}
@media (max-width: 768px) {
  .salons__wrapper {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
.salons__item_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
}
.salons__item_header_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
}
@media (max-width: 768px) {
  .salons__item_header_title {
    font-size: 11px;
  }
}
.salons__item_header_link {
  font-weight: 700;
  font-size: 12px;
  line-height: 50px;
  color: rgba(0, 77, 226, 0.8);
}
@media (max-width: 768px) {
  .salons__item_header_link {
    font-size: 10px;
  }
}
.salons__item_pic {
  overflow: hidden;
  border-radius: 10px;
}
.salons__item_pic_img {
  width: 100%;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.salons__item_pic_img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .salons__item_pic_img {
    height: 191px;
  }
}

@media (max-width: 1296px) and (min-width: 769px) {
  .header {
    order: 1;
  }
  .salons {
    order: 2;
  }
  .topAds {
    order: 3;
  }
  .footer {
    order: 4;
  }
}/*# sourceMappingURL=salons.css.map */