@import '../main';
@import '../navbar';
@import '../footer';
@import '../ads';
@import '../crumbs';
@import '../../adaptiveMode/adaptive';
@import '../../font/styles/font.css';


.header {
    padding-top: 204px;
 
    @media (max-width: 768px) {
        padding: 0;
    }
}
.wrapper {
    @media (max-width: 768px) {
        padding: 0;
    }
}
.salons {
    padding: 57px 57px 99px;
    border-radius: 12px;
    background: #E9F1EF;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    @media (max-width: 1296px) {
        padding: 32px;
    }

    @media (max-width: 768px) {
        padding: 32px 17px;
    }

    &__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 23px;
        text-transform: uppercase;
        color: #008900;
        margin-bottom: 42px;
        text-align: center;

        @media (max-width: 1296px) {
            font-size: 30px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 27px 40px;

        @media (max-width: 1296px) {
            gap: 20px 40px;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 8px;
        }
    }

    &__item {

        &_header {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 15px;

            &_title {
                font-weight: 700;
                font-size: 18px;
                line-height: 50px;

                @media (max-width: 768px) {
                    font-size: 11px;
                }
            }

            &_link {
                font-weight: 700;
                font-size: 12px;
                line-height: 50px;
                color: #004DE2CC;

                @media (max-width: 768px) {
                    font-size: 10px;
                }
            }
        }

        &_pic {
            overflow: hidden;
            border-radius: 10px;

            &_img {
                width: 100%;
                height: 248px;
                object-fit: cover;
                transition: .3s;

                &:hover {
                    transition: .3s;
                    transform: scale(1.2);
                }
                @media (max-width: 768px) {
                    height: 191px;
                }
            }
        }
    }
}



@media (max-width: 1296px) and (min-width: 769px) {
    .header {
        order: 1;
    }
    .salons {
        order: 2;
    }
    .topAds {
        order: 3;
    }
    .footer {
        order: 4;
    }
}